<table class="form">
<%= form.fields_for :phones do |phone_form| %>
  <tr>
    <td class="tdcolor2"><%= phone_form.label :name, 'Name:' %></td>
    <td class="tdcolor2"><%= phone_form.text_field :name %></td>
  
    <td class="tdcolor2"><%= phone_form.label :phone_number, 'Phone Number:' %></td>
    <td class="tdcolor2"><%= phone_form.text_field :phone_number %></td>
 
  <% unless phone_form.object.nil? || phone_form.object.new_record? %>
      <td class="tdcolor2"><%= phone_form.label :_destroy, 'Remove:' %></td>
      <td class="tdcolor2"><%= phone_form.check_box :_destroy %></td>
  <% end %>
  </tr>
<% end %>
</table>