<table class="form">
<%= form.fields_for :addresses do |address_form| %>
  <tr>
    <td class="tdcolor"><%= address_form.label :street, 'Street:' %></td>
    <td class="tdcolor"><%= address_form.text_field :street %></td>

    <td class="tdcolor"><%= address_form.label :city, 'City:' %></td>
    <td class="tdcolor"><%= address_form.text_field :city %></td>

    <td class="tdcolor"><%= address_form.label :zip_code, 'ZIP Code:' %></td>
    <td class="tdcolor"><%= address_form.text_field :zip_code %></td>
  
  <% unless address_form.object.nil? || address_form.object.new_record? %>
    
      <td td class="tdcolor"><%= address_form.label :_destroy, 'Remove:' %></td>
      <td td class="tdcolor"><%= address_form.check_box :_destroy %></td>
  <% end %>
  </tr>
<% end %>
</table>