<table class="form">
<%= form.fields_for :emails do |email_form| %>
  <tr>
    <td class="tdcolor2"><%= email_form.label :email, 'Email:' %></td>
    <td class="tdcolor2"><%= email_form.text_field :email %></td>
  
  <% unless email_form.object.nil? || email_form.object.new_record? %>
      <td class="tdcolor2"><%= email_form.label :_destroy, 'Remove:' %></td>
      <td class="tdcolor2"><%= email_form.check_box :_destroy %></td>
  <% end %>
  </tr>
<% end %>
</table>